

@{
    ViewBag.Title = "PhoneAdded";
}
<link href="~/Content/phones.css" rel="stylesheet" />

<h2 style="color:white">The item is already added to your cart!</h2>

<button class="btn btn-default"><a href="~/Phones/Index" style="text-decoration:none;">Back</a></button>



