@{
    ViewBag.Title = "About";
}
<link href="~/Content/index.css" rel="stylesheet" />
<h2 style="color:darkgray;">About us</h2>


<p style="color: white;margin-top:20px;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque tellus porttitor <br />
    turpis pretium, nec sodales lacus aliquam. Vivamus sed augue leo. Nam diam ex, commodo<br />
    pulvinar libero sit amet, lobortis semper mi. Cras dictum risus non elementum condimentum.<br />
    In urna turpis, mattis a neque id, cursus consequat nisl. Pellentesque imperdiet vel <br />
    nibh vel mollis. Phasellus vitae sem pellentesque, porta neque vitae, blandit turpis.<br />
    Donec porttitor, erat id hendrerit posuere, nisi lorem tempus mauris, a fringilla nunc<br />
    massa in libero. Pellentesque interdum dapibus enim ut pharetra.<br />
    <br />
    Sed sodales pellentesque nisl, nec dapibus leo sollicitudin et. Duis cursus molestie<br />
    efficitur. Phasellus et mauris risus. Donec molestie elementum eros. Curabitur porttitor<br />
    sed justo vitae feugiat. Sed ac justo ullamcorper, suscipit mauris vitae, commodo lorem.<br />
    Quisque scelerisque faucibus nulla, et accumsan odio scelerisque quis. Ut ac tortor<br />
    lorem. Phasellus vehicula dolor at turpis posuere, vitae accumsan urna rutrum. Sed<br />
    rhoncus aliquet dapibus.<br />
</p>
