@{
    ViewBag.Title = "Contact";
}
<link href="~/Content/index.css" rel="stylesheet" />
<h2 style="color:darkgray;">Contact</h2>


<address style="color:white;" >
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong style="color:white;">Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong style="color:white;">Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h2 style="color:darkgray;margin-left:700px; margin-top:-185px">Map</h2>
<div class="mapouter" style="margin-left:700px; margin-top:0px"><div class="gmap_canvas"><iframe width="400" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=skopje,%20centar&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br>
<style>
    .mapouter {
        position: relative;
        text-align: right;
        height: 200px;
        width: 400px;
    }
</style><a href="https://www.embedgooglemap.net">embed google maps on website</a>
<style>
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 200px;
        width: 400px;
    }
</style></div></div>
<div>
    <button type="submit" class="btn btn-default"><a href="/Home/SendEmail">Send e-mail</a></button>
</div>
