@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/index.css" rel="stylesheet" />
<h1 id="welcome">Welcome to AppleMania Shop</h1>

<div id="container">

    <div id="phones" class="sredina">

        <a href="/Phones/Index" style="text-decoration:none;"><h2 class="naslov">iPhones</h2></a>
        <div>
            <img src="~/Images/phoneStart.png" class="sliki" />
        </div>
        <div>
            <p class="para">
                The iPhone is a smartphone made by Apple that <br /> combines a computer,
                iPod, digital camera <br /> and cellular phone into one device with a <br /> touchscreen
                interface. The iPhone runs the iOS <br /> operating system (OS), and as of 2017,
                there <br /> were 2.2 million apps available for it through<br /> the Apple App Store,
                according to Statista.
            </p>

            
        </div>


    </div>

    <div id="mac" class="sredina">

        <a href="/Pads/Index" style="text-decoration:none;"><h2  class="naslov">iPads</h2></a>
        <div>
            <img src="~/Images/padStart.png" class="sliki" />
        </div>
        <div>
            <p class="para">
                In basic terms, the iPad is a tablet or "slate" <br /> computer. Upon  the release
                of the original iPad, <br /> Apple formally declared that it is a "magical <br /> and revolutionary"
                device for "browsing the web,<br /> reading  and sending email, enjoying photos,
                <br /> watching  videos, listening to music, playing games, <br /> reading  e-books and more.
            </p>
        </div>

    </div>

    





</div>
